:root{
	--main-color:#10cab7
}


    *
	{
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
	}

	body
	{
		font-family: "Work Sans",sans-serif;
		
	}
	.container
	{
		padding-left:15px;
		padding-right:15px;
		margin-left:auto;
		margin-right:auto;
		width:600px;
		margin:auto;
		
	}
	/*small*/
	@media (min-width:768px) {
		.container {
			width:750px
		}
	}
	/*medium*/
	@media (min-width:992px) {
		.container {
			width:970px
		}
	}
	/*large*/
	@media (min-width:1200px) {
		.container {
			width:1170px
		}
	}
	
	/* end global*/
	
	/*start componet*/
		.special-heading {
			color:#ebeced;
			font-size:100px;
			text-align:center;
			letter-spacing:-3px;
			margin:0
		}
		.special-heading + p{
			text-align:center;
			margin:-30px 0 0;
			color:#797979;
			font-size:20px
		}
		@media (max-width:767px){
			.special-heading {
				font-size:80px
			}
			.special-heading + p{
				margin-top:-20px
			}
		}
	/*end componet*/
	
	/*start header*/
	.header {
		padding:20px
	}
	.header .container {
		display:flex;
		justify-content:space-between;
		align-items:center;
	}
	.header .logo {
		width:60px
	}
	.header .links {
		position:relative
	}
		.header .links:hover .icon span:nth-child(2) {
			width:100%
		}
	.header .links .icon {
		width:30px;
		display:flex;
		flex-wrap:wrap;
		justify-content:flex-end
	}
	.header .links .icon span {
		background-color:#333;
		margin-bottom:5px;
		height:2px
	}
	.header .links .icon span:first-child {
		
		width:100%
	} 
	.header .links .icon span:nth-child(2) {
		width:60%;
		transition:0.3s
	}
	.header .links .icon span:last-child {
		width:100%
	}
	.header .links ul {
		list-style:none;
		margin:0;
		padding:0;
		background-color:#F6F6F6;
		position:absolute;
		right:0;
		min-width:200px;
		top: calc(100% + 15px);
		display:none;
		z-index:1;
	}
	.header .links ul::before {
		content:"";
		border-width:10px;
		border-style:solid;
		border-color:transparent transparent #F6F6F6 transparent;
		position:absolute;
		right:5px;
		top:-20px
	}
	.header .links:hover ul {
		display:block
	}
	.header .links ul li a {
		display:block;
		text-decoration:none;
		padding:15px;
		color:#333;
		transition:0.3s
	}
	.header .links ul li a:hover {
		padding-left:25px
	}
	.header .links ul li:not(:last-child) a{
		border-bottom:1px solid #ddd
	}
	/*end header*/	
	
	/*start landing section*/
	.landing {
		background-image:url("ph2.jpg");
		background-size:cover;
		height:calc(100vh - 64px);
		position:relative
	}
	.landing .intro-text{
		position:absolute;
		left:50%;
		top:50%;
		transform: translate(-50% , -50%);
		text-align:center;
		width:320px;
		max-width:100%
	}
	.landing .intro-text h1 {
		margin:0;
		font-weight:bold;
		font-size:50px;
		color:#10cab7
	}
	.landing .intro-text p{
		font-size:19px;
		line-height:1.8
	}
	/*end landing section*/
	
	/*start features*/
	
	.features {
		padding-top:60px;
		padding-bottom:60PX;
		background-color:#F6F6F6
	}
	.features .container {
		display:grid;
		grid-template-columns:repeat(auto-fill,minmax(300px , 1fr));
		grid-gap:20px
	}
	.features .feat {
		padding:20px;
		text-align:center
	}
	.features .feat i{
		color:#10cab7 
	}
	.features .feat h3{
		font-weight:800;
		margin:30px 0
	}
	.features .feat p{
		line-height:1.8;
		color:#777;
		font-size:17px
	}
	
	.services .services-content{
		display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
	margin-top:70px
	}
	.services .services-content .srv {
		display:flex;
		margin-bottom:40px;
	}
	@media(max-width:767){
		.services .services-content .srv{
			flex-direction:column;
			text-align:center
		}
	}
	.services .services-content .srv i {
		color:#10cab7;
		flex-basis:60px
	}
	.services .services-content .srv .text {
		flex:1
	}
	.services .services-content .srv .text h3 {
		margin:0 0 20px
	}
	.services .services-content .srv .text p {
		color:#80c0b2;
		font-weight:300;
		line-height:1.6
	}
	.services .services-content .image::before {
	content: "";
    position: absolute;
    right: 275px;
    background-color: #2c4755;
    width: 53px;
    height: 46%;
    top: 1285px;
	z-index:-1;
	
	}
	@media (max-width:1500px) {
		.services .services-content .image::before {
			display:none
		}
	}
	
	.services .services-content .image img{
		width:260px;
		height:260px
	}
	@media (max-width:1190){
		.image-column{
			display:none
		}
	}
	/*end features*/
	
	/* start protfolio*/
	
	.protfolio {
		padding-top:60px;
		padding-bottom:60px;
		background-color:#F6F6F6
	}
	.protfolio .protfolio-content {
		display:grid;
		grid-template-columns:repeat(auto-fill,minmax(300px , 1fr));
		grid-gap:30px;
		margin-top:80px;
	}
	@media(max-width:991px){
		.protfolio .protfolio-content .card img {
			flex-direction:column
		}
	}
	.protfolio .protfolio-content .card {
		background-color:white
	}
	.protfolio .protfolio-content .card img {
		max-width:100%;
		margin-left: 53px;
    margin-top: 23px;
}
	}
	.protfolio .protfolio-content .card .info {
		padding:20px;
		
	}
	.protfolio .protfolio-content .card .info h3{
		margin:0;
		text-align:center
	}
	.protfolio .protfolio-content .card .info p{
		color:#777;
		line-height:1.8;
	margin-left:20px;
	margin-bottom:0
	}
	/*end protfolio*/
	
	/*start about*/
	.about {
		padding-bottom:6px;
		padding-top:10px;
		
	}
	.about .about-content {
		margin-top:100px;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between
	}  
	@media (max-width:991px) {
	   .about .about-content{
		   flex-direction:column;
		   text-align:center
	   }
	}
	@media (max-width:991px) {
		.about .about-content .image {
			margin:0 auto 60px
		}
	}
	@media (max-width:991px) {
	.about .about-content .text hr{
		margin:auto 
	}
	}
	.about .about-content .image {
		position:relative;
		width:250px;
		height:375px
	}
	.about .about-content .image::before {
		content:"";
		position:absolute ;
		background-color:black;
		width:100px;
		height:calc( 100% + 80px );
		top:-40px;
		left:-20px;
		z-index:-1
	}
	
	.about .about-content .image::before {
		position:absolute;
		width:120px;
		height:300px;
		border-left:80px solid #29b6f6;
		border-bottom:80px solid #29b6f6;
		z-index:-1;
		right:-150px;
		top:-37px;
		margin-left:-3px
	}
	@media (max-width:991px){
		.about .about-content .image::before {
			display:none
		}
	}
	@media (max-width:991px){
		.about .about-content .image{
			text-align:center
		}
	}
	.about .about-content .image img {
	 width: 203px;
    height: 296px;
}
	
	
	.about .about-content .text {
		flex-basis: calc(100% - 500px)
	}
	.about .about-content .text p:first-of-type{
		font-weight:bold;
		line-height:2;
		margin-bottom:60px
	}
	.about .about-content .text hr{
		width:50%;
		display:inline-block;
		border-color:#10cab7;
		
	}
	@media(max-width:991px){
		.about .about-content .text hr{
			margin:0 0 0 -20%
		}
	}
	.about .about-content .text p:last-of-type{
		line-height:2;
		color:#777
	}
	/*end about*/
	
	
	/*start contact*/
	
	.contact  {
		padding-top:60px;
		padding-bottom:60px;
		background-color:#F6F6F6;
		
	}
	
	.contact .info {
		padding-top:60px;
		padding-bottom:60px;
		text-align:center
	}
	
	.contact .info .label {
		font-size:30px;
		font-weight:800;
		color:#ebeced;
		letter-spacing:-2px;
		margin-bottom:15px
	}
	
	.contact .info .link {
		display:block;
		font-size:35px;
		font-weight:800;
		color:#10cab7;
		text-decoration:none
	}
	
	
	.contact .info .social {
		display:flex;
		justify-content:center;
		margin-top:20px;
		font-size:16px
	}
	
	.contact .info .social i {
		margin-left:10px;
		color#ebeced
	}
	
	@media(max-width:767px){
		.contact .info .label, 
		.contact .info .link {
			font-size:25px
		}
	}
	
	/*start footer*/
	
	.footer {
		background-color:#262f33;
		color:white;
		padding:30px 10px;
		text-align:center;
		font-size:18px
	}
	
	.footer span {
		font-weight:bold;
		color:#10cab7
	}
	
	
	
	
	
	